@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --bg-color: #272727;
  --font-size: 11pt;
  --font-family: 'Roboto';
  --font-family-monospace: 'Roboto Mono';
  --font-color: #eee;
  --highlight-color: #2ba1ff;
  --border-color: #808080;
}

::selection {
  background: var(--highlight-color);
  color: var(--bg-color);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--bg-color);
  display: flex;
}

/* UI infrastructure */
#ui-container {
  padding: 0.1em;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
}

.ui-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  max-height: 100%;
}

.ui-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0.1em;
  margin: 0.1em;
  padding: 0.5em;
  background-color: #383838;
}

.ui-section-title {
  padding: 0.2em;
  font-weight: bold;
}

.ui-section-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Input row */
.ui-content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.1em 0 0.1em 0;
}

.ui-content-row label {
  width: 50%;
}

.ui-content-row.readonly label {
  color: #aaa;
  font-style: italic;
  cursor: not-allowed;
}

.ui-content-row input {
  width: 50%;
  background-color: var(--bg-color);
  border: none;
  border-radius: 0.1em;
  padding: 0.3em;
  box-shadow: 0em 0em 0.2em rgba(0, 0, 0, 0.5) inset;
  color: inherit;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size);
  text-overflow: ellipsis;
}

.ui-content-row.readonly input {
  opacity: 0.6;
  cursor: not-allowed;
}

.ui-content-row.readonly {
  cursor: not-allowed;
}

.ui-content-row input[type='file']::file-selector-button {
  color: inherit;
  margin: 0 1em 0 0;
  padding: 0.2em 1em 0.2em 1em;
  border: none;
  border-radius: 0.1em;
  box-shadow: 0em 0em 0.2em rgba(0, 0, 0, 0.5);
  background-color: #575757;
  font-family: var(--font-family);
  transition: background-color 0.2s, color 0.2s;
}

.ui-content-row input[type='file']::file-selector-button:active {
  box-shadow: none;
}

.ui-content-row input[type='file']::file-selector-button:hover {
  background-color: #858585;
  transition: background-color 0.2s;
}

.ui-content-row input[type='range'] {
  box-shadow: none;
}

.ui-content-row input[type='checkbox'] {
  box-shadow: none;
}

/* Submit button */
.ui-content-row input[type='button'] {
  width: 80%;
  margin: 0.2em;
  padding: 0.4em;
  border: none;
  border-radius: 0.1em;
  box-shadow: 0em 0em 0.2em rgba(0, 0, 0, 0.5);
  background-color: #575757;
  font-family: var(--font-family);
  transition: background-color 0.2s;
}

.ui-content-row input[type='button']:active {
  box-shadow: none;
}

.ui-content-row input[type='button']:enabled:hover {
  background-color: #858585;
  transition: background-color 0.2s;
}

.ui-content-row input[type='button']:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Viewport */
#viewport-container {
  align-items: center;
  justify-content: center;
  overflow: scroll;
  position: relative;
}

#viewport-container canvas {
  /*box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.6);*/
}

#viewport-controls {
  padding: 0.5em;
  width: 15%;
  background-color: #333333;
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  opacity: 0.2;
  transition-property: opacity;
  transition-duration: 0.2s;
  border-radius: 1em;
}

#viewport-controls:hover {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.2s;
}

/* Console */
#console-container {
  overflow: scroll;
}

#console-output-container {
  margin: 0.1em;
  border: 1px solid var(--border-color);
  border-radius: 0.2em;
  background-color: var(--bg-color);
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

#console-output-container.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  color: #151515;
  user-select: none;
}

.console-output-row {
  font-family: var(--font-family-monospace);
  font-size: calc(var(--font-size) * 0.9);
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.console-output-row .console-output-row-timestamp {
  padding: 0 1em 0 0;
  font-weight: bold;
}

.console-output-row .console-output-row-message {
  overflow: scroll;
  overscroll-behavior: contain;
  display: inline-block;
  white-space: pre;
}

.console-output-row .console-output-row-message:hover {
  text-decoration: underline;
}

.console-output-row .console-output-row-message a {
  color: var(--highlight-color);
  font-weight: bold;
}

/* Alternate output row colors for readability */
.console-output-row:nth-child(even) {
  background-color: #222222;
}

/* Different styles for different types of messages */
.console-output-row.info {
  color: blue !important;
}

.console-output-row.error {
  color: #ff8686 !important;
  background-color: #400000 !important;
  font-weight: bold;
}

.console-output-row.error:nth-child(even) {
  background-color: #300000 !important;
}

.console-output-row.warning {
  color: #ffd566 !important;
  background-color: #454500 !important;
  font-weight: bold;
}

.console-output-row.warning:nth-child(even) {
  background-color: #3c3c00 !important;
}

/* Tags for console */
.tag {
  padding: 0.1em 0.3em 0.1em 0.3em;
  margin: 0 1em 0 0;
  border-radius: 0.2em;
  background-color: var(--highlight-color);
  color: var(--bg-color);
  font-weight: bold;
}

.gpu {
  background-color: #d30052;
}

.cpu {
  background-color: var(--highlight-color);
}

.notice {
  background-color: #ffeb3b;
}

/* Scene Graph (Node Tree) */
#node-tree-container {
  overflow: scroll;
}

#tree-viewer-container {
  overflow: scroll;
  border: 1px solid var(--border-color);
  border-radius: 0.2em;
}

#tree-viewer {
  display: flex;
  flex-grow: 1;
}

/* Active Node */
#active-node-container.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  color: #202020;
  user-select: none;
}

#active-node-container .ui-content-row label {
  padding: 0 1em 0 0;
  text-align: right;
}

/* Misc. */
.mono-label {
  font-family: var(--font-family-monospace);
}

#key-bindings {
  font-family: var(--font-family-monospace);
  font-size: 9pt;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  display: block;
  color: var(--font-color);
  padding: 0.1em;
  border-radius: 0.2em;
  background-color: rgba(0, 0, 0, 0.6);;
}

#key-bindings p {
  padding: 0;
  margin: 0.3em;
}

#key-bindings.hidden {
  opacity: 0.6;
}

#key-bindings.hidden p:nth-child(n+2) {
  display: none;
}