:root {
  --bg-color: #272727;
  --font-size: 11pt;
  --font-family: 'Roboto';
  --font-color: #eee;
  --highlight-color: #ff9900;
  --border-color: #808080;
}

::-webkit-scrollbar{
  display: none;
}

.tree-root {
  flex-grow: 1;
  /*border: 1px solid var(--border-color);*/
  /*border-radius: 0.2em;*/
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  overflow: scroll;
  user-select: none;
}

.empty {
  color: #151515;
  font-weight: bold;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.empty span {
  margin: 0.5em;
  text-align: center;
}

.node-container {
  display: block;
  padding: 0.2em 0.2em 0 2em;
}

.tree-root > .node-container {
  /*padding: 0.5em 0 0.2em 0.5em;*/
  padding: 0.2em 0.2em 0 0.5em;
}

.tree-root:first-child {
  /*padding: 0.5em inherit;*/
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.node-meta {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.node-meta span {
  padding: 0.1em;
  margin: 0 0 0 0.1em;
  border-radius: 0.2em;
  border: 1px solid rgba(0, 0, 0, 0);
}

.node-meta span[data-selected='y'] {
  border-radius: 0.2em;
  border: 1px solid #eee;
}